@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body{
background-image: linear-gradient(#D5DDFF, #EEf5DB);
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Livvic', sans-serif;
}
a{
color:white;
text-decoration: none;
font-size: 1.5em;
font-weight: lighter;
}
a:hover{
color:gold;
}
img{
border-radius: 50%;
margin:20px;
}